In [1]:
%load_ext sql

Deploy Panel apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

The 'toml' package isn't installed. To load settings from pyproject.toml or ~/.jupysql/config, install with: pip install toml

# Aufgabe 1
Realisieren Sie folgende Aufgaben in university.db. Geben Sie je genau ein SQL statement an.

1.   Erhöhe das Gehalt jedes Computer-Science-Instruktors um 10%.

```sql
update instructor
set salary = salary * 1.1
where dept_name = 'Comp. Sci.';
```

2. Lösche alle Kurse die nie angeboten wurden.

```sql
delete from course
where course_id not in (
  select course_id from section
);
```

3. Stelle alle Studierenden miat mehr als 100 credits als Instruktor im selben Department mit einem Gehalt von 30'000 ein.

```sql
insert into instructor
select ID, name, dept_name, 30000
from student
where tot_cred > 100;
```

```