In [1]:
%load_ext sql

The 'toml' package isn't installed. To load settings from pyproject.toml or ~/.jupysql/config, install with: pip install toml

# Aufgabe 1
Realisieren Sie folgende Aufgaben in university.db. Geben Sie je genau ein SQL statement an.

1.   Erhöhe das Gehalt jedes Computer-Science-Instruktors um 10%.

```sql
update instructor
set salary = salary * 1.1
where dept_name = 'Comp. Sci.';
```

2. Lösche alle Kurse die nie angeboten wurden.

```sql
delete from course
where course_id not in (
  select course_id from section
);
```

3. Stelle alle Studierenden miat mehr als 100 credits als Instruktor im selben Department mit einem Gehalt von 30'000 ein.

```sql
insert into instructor
select ID, name, dept_name, 30000
from student
where tot_cred > 100;
```

# Aufgabe 2 (Verständnis von Abfragen)

Gegeben ist wieder das Schema von **publications.db** vom letzten Übungsblatt.

In [2]:
%sql sqlite:///../data/publications.db
%config SqlMagic.displaylimit = None

Connecting to 'sqlite:///../data/publications.db'

displaylimit: Value None will be treated as 0 (no limit)

1. Wieso ergibt folgende Abfrage nicht wie erwartet alle Titel die weniger als 20 Dollar kosten? Was liefert die Abfrage stattdessen?

```sql
select title from titles
where price < 20;
```

In [3]:
%%sql

select title, price from titles
where price < 20;

Running query in 'sqlite:///../data/publications.db'

+------------------------------------------------------+-------+
|                        title                         | price |
+------------------------------------------------------+-------+
|         The Busy Executive's Database Guide          | 19.99 |
|         Emotional Security: A New Algorithm          |  7.99 |
|    Prolonged Data Deprivation: Four Case Studies     | 19.99 |
| Cooking with Computers: Surreptitious Balance Sheets | 11.95 |
|          Silicon Valley Gastronomic Treats           | 19.99 |
|                    Sushi, Anyone?                    | 14.99 |
|      Fifty Years in Buckingham Palace Kitchens       | 11.95 |
|           You Can Combat Computer Stress!            |  2.99 |
|                 Is Anger the Enemy?                  | 10.95 |
|                  Life Without Fear                   |   7   |
|                The Gourmet Microwave                 |  2.99 |
|            Straight Talk About Computers             | 19.99 |
+------------------------------------------------------+-------+

Die Abfrage ignoriert alle Title die keinen Preis angegeben haben, sprich wo `price` auf `null` gesetzt ist. Die Abfrage liefert also alle Titel bei denen der Preis bekannt ist und unter 20 Dollar kostet.

2. Wieso ergibt folgende Abfrage nicht wie erwartet die Autoren zusammen mit den Verlegern, bei denen sie publiziert haben? Was liefert die Abfrage stattdessen? Korrigieren Sie die Abfrage.

```sql
select au_lname, pub_name
from authors natural join titleauthor natural join titles
natural join publishers;
```

In [4]:
%%sql

select au_lname, pub_name, city, state
from authors natural join titleauthor natural join titles
natural join publishers;

Running query in 'sqlite:///../data/publications.db'

+----------+----------------------+----------+-------+
| au_lname |       pub_name       |   city   | state |
+----------+----------------------+----------+-------+
|  Carson  | Algodata Infosystems | Berkeley |   CA  |
|  Bennet  | Algodata Infosystems | Berkeley |   CA  |
+----------+----------------------+----------+-------+

Durch den `natural join` werden alle gemeinsamen Attribute berücksichtigt. `authors` und `publishers` haben beide die Attribute `city` und `state`. Die Abfrage liefert also alle Autoren zusammen mit den Verlegern, bei denen sie publiziert haben, in der selben Stadt und im selben Staat sind.

In [5]:
%%sql

select au_lname, pub_name from authors
  join titleauthor on authors.au_id = titleauthor.au_id
  join titles on titleauthor.title_id = titles.title_id
  join publishers on titles.pub_id = publishers.pub_id;

Running query in 'sqlite:///../data/publications.db'

+----------------+----------------------+
|    au_lname    |       pub_name       |
+----------------+----------------------+
|     White      |    New Age Books     |
|     Green      | Algodata Infosystems |
|     Green      |    New Age Books     |
|     Carson     | Algodata Infosystems |
|    O'Leary     | Algodata Infosystems |
|    O'Leary     |   Binnet & Hardley   |
|    Straight    | Algodata Infosystems |
|     Bennet     | Algodata Infosystems |
|      Dull      | Algodata Infosystems |
|   Gringlesby   |   Binnet & Hardley   |
|    Locksley    | Algodata Infosystems |
|    Locksley    |    New Age Books     |
| Blotchet-Halls |   Binnet & Hardley   |
|    Yokomoto    |   Binnet & Hardley   |
|  del Castillo  |   Binnet & Hardley   |
|    DeFrance    |   Binnet & Hardley   |
|   MacFeather   | Algodata Infosystems |
|   MacFeather   |   Binnet & Hardley   |
|     Karsen     |   Binnet & Hardley   |
|    Panteley    |   Binnet & Hardley   |
|     Hunter     | Algodata Infosystems |
|     Ringer     |   Binnet & Hardley   |
|     Ringer     |    New Age Books     |
|     Ringer     |    New Age Books     |
|     Ringer     |    New Age Books     |
+----------------+----------------------+

3. Wieso ergibt folgende Abfrage nicht wie erwartet alle Verleger, die höchstens zwei Psychologiebücher verlegt haben? Was liefert die Abfrage stattdessen? Korrigieren Sie die Abfrage.

```sql
select pub_id, count(title_id) as numtitles
from titles
where type like 'psychology%'
group by pub_id
having numtitles <= 2;
```

In [6]:
%%sql

select pub_id, count(title_id) as numtitles
from titles
where type like 'psychology%'
group by pub_id
having numtitles <= 2;

Running query in 'sqlite:///../data/publications.db'

+--------+-----------+
| pub_id | numtitles |
+--------+-----------+
|  0877  |     1     |
+--------+-----------+

In [7]:
%%sql

with psychology_books as (
  select *
  from titles
  where type like 'psychology%'
)
select pub_id, count(pub_id) as numtitles
from psychology_books
group by pub_id
having numtitles <= 2
union
select pub_id, 0 from (
  select pub_id from publishers
  except
  select pub_id from psychology_books
);

Running query in 'sqlite:///../data/publications.db'

+--------+-----------+
| pub_id | numtitles |
+--------+-----------+
|  0877  |     1     |
|  1389  |     0     |
+--------+-----------+

```

# Aufgabe 3 (Verständnis von Abfragen)

Gegeben sei folgendes Schema:

$person(\underline{name}, street, city)$

$purchase(\underline{name},\underline{id}, number\_of\_items)$<br>
$name \rightarrow person$<br>
$id \rightarrow product$

$product(\underline{id}, supplier\_name, description, price)$<br>
$supplier\_name \rightarrow supplier$

$supplier(\underline{name}, street, city)$

Beschreiben Sie umgangssprachlich das Resultat folgender Abfragen.

1.

2.

3.

4.

5.

6.