In [1]:
%load_ext sql

The 'toml' package isn't installed. To load settings from pyproject.toml or ~/.jupysql/config, install with: pip install toml

# Aufgabe 1
Realisieren Sie folgende Aufgaben in university.db. Geben Sie je genau ein SQL statement an.

1.   Erhöhe das Gehalt jedes Computer-Science-Instruktors um 10%.

```sql
update instructor
set salary = salary * 1.1
where dept_name = 'Comp. Sci.';
```

2. Lösche alle Kurse die nie angeboten wurden.

```sql
delete from course
where course_id not in (
  select course_id from section
);
```

3. Stelle alle Studierenden miat mehr als 100 credits als Instruktor im selben Department mit einem Gehalt von 30'000 ein.

```sql
insert into instructor
select ID, name, dept_name, 30000
from student
where tot_cred > 100;
```

# Aufgabe 2 (Verständnis von Abfragen)

Gegeben ist wieder das Schema von **publications.db** vom letzten Übungsblatt.

In [2]:
%sql sqlite:///../data/publications.db

Connecting to 'sqlite:///../data/publications.db'

1.

2.

3.

```

# Aufgabe 3 (Verständnis von Abfragen)

Gegeben sei folgendes Schema:

$person(\underline{name}, street, city)$

$purchase(\underline{name},\underline{id}, number\_of\_items)$<br>
$name \rightarrow person$<br>
$id \rightarrow product$

$product(\underline{id}, supplier\_name, description, price)$<br>
$supplier\_name \rightarrow supplier$

$supplier(\underline{name}, street, city)$

Beschreiben Sie umgangssprachlich das Resultat folgender Abfragen.

1. ```sql
    select name from person natural join purchase;
    ```

    Das Resultat zeigt alle Personen von `person`, die jeweils ein oder mehrere Käufe in `purchase` für eine beliebige Anzahl Produkte gemacht haben.

2.  ```sql
    select name from person natural join purchase
                            natural join product
                            natural join supplier;
    ```

    Das Resultat zeigt bis und mit dem `natural join` auf `product`, dasselbe wie das obere Resultat mit dem Unterschied, dass nun die Produkthersteller, Beschrieb und Preis.<br>
    Erst dann bei dem `natural join` auf `supplier` wird das Resultat so erweitert, bei denen der Name des Herstellers und der Person übereinstimmen und als gleiches Attribut angesehen wird.

3.  ```sql
    select supplier_name, avg(price)
    from product
    group by supplier_name;
    ```
    
    Das Resultat zeigt die Namen aller Hersteller und deren Durchschnittspreis deren Produkte. (Produkte ohne Preis werden nicht gezählt)

4.

5.

6.